<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Nobleworld</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <h1>Nobleworld</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="browse-jobs">Browse Jobs</a></li>
                {% if session.get('user_id') == 1 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('post_job_page') }}">Post a Job</a>
    </li>
{% endif %}
            </ul>
        </nav>
    </header>
    <main class="about-us-container">
        <h1>About Us</h1>
        <p>Welcome to Nobleworld! Our mission is to connect job seekers with the best opportunities available.</p>
        <p>We strive to provide a user-friendly platform where individuals can easily search for jobs that match their skills and career goals.</p>
        <p>For employers, Nobleworld offers a powerful tool to reach a wide pool of qualified candidates.</p>
        <h2>Our Team</h2>
        <h2>Contact Us</h2>
        <p>If you have any questions or feedback, please feel free to <a href="/contact-us"><strong>contact us</strong></a>.</p>
    </main>
    </body>
    <footer>
        <p>&copy; 2025 Nobleworld. All rights reserved.</p>
    </footer>
</html>